*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    background-image: url('./ZaneTruesdale.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
   
    
}
body{
    font-family: sans-serif;
}
.menu-bar{
    background: aquamarine;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
  
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bab;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: aquamarine;
    margin-top: 15px;
    margin-left: 15px;
}