*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    background-image: url('./ZaneTruesdale.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
   
    
}
body{
    font-family: sans-serif;
}
.menu-bar{
    background: aquamarine;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    color: white;
    text-decoration: none;
}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}